head
	title Play SPHINX Today!
	link(rel="stylesheet",type="text/css",href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
	link(rel="stylesheet",type="text/css",href=".../public/main.css")
body


//- Main Chat Window
template(name="mainBox")
	.chat-container
		h2 Chat with some Friends, #{currentUser.username}
		+chatBox
//- Chat box with messages
template(name="revealChat")
	button.btn.btn-info#reveal-chat Click to open chat box!!

template(name="chatBox")
	#messages
		+each messages
			+chatMessage
	textarea#chat-message
	br 
	button.btn.btn-primary#send Send Chat
	button.btn.btn-warning#close-chat Click to Close Chat
template(name='chatMessage')
	.user-reference
		b {{user}}:
		| {{message}}
	

//- template(name="user")
//- 	.user(class=selected)
//- 		span.name=  name
//- 		span.score= score

template(name="leaderboard")
	.leaderboard-format
		h1 Leaderboard
		each users
			if status = true
				li #{username}: #{monstersDefeated}

		//- if user.status.online
		//- 	p Online!
		//- else
		//- 	p not online..

template(name="chat")
	+revealChat
	+mainBox
	+leaderboard



	//- Meteor.presences.find().count() 