template(name='submitModal')
	#submitModal.modal.fade.in(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Add new Trivia #{username}
				.modal-body
					+submitTrivia

template(name='submitItem')
	input.open-modal.submitItem.hidden(type='button',value='Triva Submit')

template(name='monstersModal')
	#monstersModal.modal.fade.in(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Monster
				.modal-body
					+monsters

template(name='monstersItem')
	input.open-modal.monstersItem.hidden(type='button',value='Monsters')




template(name='charactersModal')
	#charactersModal.modal.fade.in.col-xs-4(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Character
				.modal-body
					+characters


template(name='charactersItem')
	input.open-modal.charactersItem.hidden(type='button',value='Characters')

template(name='aboutModal')
	#aboutModal.modal.fade.in.col-xs-12(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title About
				.modal-body
					+about

template(name='aboutItem')
	input.open-modal.aboutItem.hidden(type='button',value='About')

template(name='profileModal')
	#profileModal.modal.fade.in.col-xs-12(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Profile Page
				.modal-body
					+profile

template(name='profileItem')
	input.open-modal.profileItem.hidden(type='button',value='Profile')

template(name='adminModal')
	#adminModal.modal.fade.in.col-xs-12(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4.modal-title Admin Page
				.modal-body
					+admin

template(name='adminItem')
	input.open-modal.adminItem.hidden(type='button',value='Admin')

//- template(name='locationModal')
//- 	#locationModal.modal.fade.in.col-xs-12(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
//- 		.modal-dialog
//- 			.modal-content
//- 				.modal-header
//- 					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
//- 					h4.modal-title Admin Page
//- 				.modal-body
//- 					+location

//- template(name='locationItem')
//- 	input.open-modal.locationItem(type='button',value='Location')