//- head
//- 	link(rel="stylesheet",type="text/css",href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
//- 	link(rel="stylesheet",type="text/css",href=".../public/main.css")
//- body
//- 	+user_profile


//- 	script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
//- 	script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
//- 	script(src="../main.js")


//- template(name="item")
//- 	span: a(href="#{profileUrl}") #{author} 
//- template(name="profile")
//- 	h4 Username
//- 		p #{Meteor.user().username}template(name="user_profile")
//- 	h4 Username
//- 		p #{currentUser.username}
