//- template(name="submitTrivia")
//- 	h1 Add your new trivia questions below
//- 	form#form-trivia
//- 		input.new-trivia.new-question(type="text",placeholder="Please insert a question")
		
//- 		input.new-trivia.difficulty(type="number",placeholder="Difficulty")
		
//- 		input.new-trivia.correct(type="text",placeholder="Correct Answer")
		
//- 		input.new-trivia.wrong1(type="text",placeholder="Wrong")

//- 		input.new-trivia.wrong2(type="text",placeholder="Wrong")

//- 		input.new-trivia.wrong3(type="text",placeholder="Wrong")

//- 		button.btn.btn-default(type="submit") Add to Database